////
/// Footer
////
.region-footer {
  border-top: 1px solid color(white, darker);

  .menu {
    margin-left: 0;
    margin-right: -1rem;
    display: flex;
    justify-content: flex-end;
    @include breakpoint(small down){
      margin-left: -1rem;
      margin-right: 0;
      justify-content: flex-start;
    }
  }

  #block-footercopyright {
    @include xy-cell(9);
  }
  #block-starterkit-footer {
    @include xy-cell(3, null, $grid-margin-gutters, margin, null, medium);
  }
  #block-footercopyright, #block-starterkit-footer {
    @include breakpoint(small down){
      @include xy-cell(12);
    }
  }

  p, a {
    @extend %small;
  }
}
